@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="tab-content" id="myTabContent">
        @await Component.InvokeAsync("Switches")
    </div>
<div class="text-center align-items-center">
    <div class="col-md-12">
        <div class="switch-power on-off-switch">
            <input type="checkbox" id="chck_toggleall">
            <label><i class="fas fa-power-off icon-off"></i></label>
        </div>
    </div>
</div>