<div class="row align-items-center text-center m-auto">
    <div class="col-md-4 col-sm-4 align-items-center text-center border-right switch-container mt-5">
        <div class="switch">
            <input class="chck-switch" name="toggle" type="checkbox" id="switch_1" data-module-name="00" data-io-mode="00" data-io-number="01" />
            <label for="toggle">
                <i class="bulb">
                    <span class="bulb-center"></span>
                    <span class="filament-1"></span>
                    <span class="filament-2"></span>
                    <span class="reflections">
                        <span></span>
                    </span>
                    <span class="sparks">
                        <i class="spark1"></i>
                        <i class="spark2"></i>
                        <i class="spark3"></i>
                        <i class="spark4"></i>
                    </span>
                </i>
            </label>
        </div>
        <p>Giriş Aydınlatma</p>
    </div>
    <div class="col-md-4 col-sm-4 align-items-center text-center border-right switch-container mt-5">
        <div class="switch">
            <input class="chck-switch" name="toggle" type="checkbox" id="switch_2" data-module-name="00" data-io-mode="00" data-io-number="02" />
            <label for="toggle">
                <i class="bulb">
                    <span class="bulb-center"></span>
                    <span class="filament-1"></span>
                    <span class="filament-2"></span>
                    <span class="reflections">
                        <span></span>
                    </span>
                    <span class="sparks">
                        <i class="spark1"></i>
                        <i class="spark2"></i>
                        <i class="spark3"></i>
                        <i class="spark4"></i>
                    </span>
                </i>
            </label>
        </div>
        <p>Demo Alanı Aydınlatma</p>
    </div>
    <div class="col-md-4 col-sm-4 align-items-center text-center switch-container mt-5">
        <div class="switch">
            <input class="chck-switch" name="toggle" type="checkbox" id="switch_3" data-module-name="00" data-io-mode="00" data-io-number="03" />
            <label for="toggle">
                <i class="bulb">
                    <span class="bulb-center"></span>
                    <span class="filament-1"></span>
                    <span class="filament-2"></span>
                    <span class="reflections">
                        <span></span>
                    </span>
                    <span class="sparks">
                        <i class="spark1"></i>
                        <i class="spark2"></i>
                        <i class="spark3"></i>
                        <i class="spark4"></i>
                    </span>
                </i>
            </label>
        </div>
        <p>Ana Kapı ON/OFF</p>
    </div>
</div>